object-detection/artifacts/weights/*.pt filter=lfs diff=lfs merge=lfs -text
object-detection/artifacts/weights/*.onnx filter=lfs diff=lfs merge=lfs -text
object-detection/artifacts/data/*.zip filter=lfs diff=lfs merge=lfs -text
